//- category.jade

.container(ng-if="vm.isLoading")
  .row
    .col-md-12.col-xs-12
      h2
        | Loading products 
        i.fa.fa-spinner.fa-spin
.container(ng-if="!vm.isLoading")
  .row
    .col-md-12.col-xs-12
      h2 {{ vm.category.title }}
      p
        a(href="#/")
          span.fa.fa-arrow-left
          |  back
  .row
    .col-md-4.col-xs-12(ng-repeat="product in vm.category.products")
      .thumbnail
        img(
          src="http://placehold.it/300x200"
          ng-src="{{ product.imageUrl }}"
          alt="product{{ product.id }}"
        )
        .caption
          h3 {{ product.title }}
          p {{ product.description }}
          .row
            .col-md-7.col-xs-7
              h4 {{ product.price | currency}} / {{ product.unit }}
            .col-md-5.col-xs-5.text-right
              button.btn.btn-primary.btn-lg(ng-click="vm.buy(product)")
                span.fa.fa-cart-plus
                |  Buy
toaster-container