// footer.scss

footer {
  background: {
    color: gray;
  }

  margin: {
    top: 100px;
  }

  padding: {
    top: 50px;
    bottom: 50px;
  }

  color: white;

  h4 {
    margin: {
      top: 0;
    }
  }
}