// shop.scss

@import "reset";
@import "common";
@import "header";
@import "footer";

$header-min-height: 50px;
$thumbnail-max-width: 300px;
$thumbnail-max-height: 200px;
$thumbnail-top-padding: 4px;

.container-main {
  margin: {
    top: $header-min-height;
  }
}

.toast-message {
  font: {
    size: 18px;
  }
}

.toast-bottom-full-width {
  bottom: 10px;
}

.thumbnail {
  padding-top: $thumbnail-top-padding;
  padding-bottom: 0;

  > img {
    max: {
      height: $thumbnail-max-height - $thumbnail-top-padding;
    }
  }
}

@media (min-width: 768px) {
  $header-max-height: 100px;

  .container-main {
    margin: {
      top: $header-max-height;
    }
  }
}