# Created by .ignore support plugin (hsz.mobi)
/.grunt
/.idea
/.sass-cache
/node_modules
/typings
/npm-debug.log
/test/e2e/result
/test/spec/specs.js
/test/spec/result.html
/public/*.html
/public/views
/public/css
/public/fonts
/public/js
/public/lib
