<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <h2>Shopping Cart</h2>
      <p>
        <a href="" ng-click="back()">
          <span class="fa fa-arrow-left"></span> back
        </a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-xs-12" ng-show="isEmpty">
      <p>Your cart is empty. Start shopping <a href="#/">now</a>.</p>
    </div>
    <table class="table" ng-hide="isEmpty">
      <thead>
        <tr>
          <th></th>
          <th>Product</th>
          <th class="text-center">Quantity</th>
          <th class="text-right">Price</th>
          <th class="text-right">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in cart.items">
          <td class="text-center">
            <button type="button" ng-click="remove(item)">
              <span class="fa fa-remove"></span>
            </button>
          </td>
          <td>{{ item.product.title }}</td>
          <td class="text-center">{{ item.quantity }}</td>
          <td class="text-right">{{ item.product.price | currency }}</td>
          <td class="text-right">{{ (item.quantity * item.product.price) | currency }}</td>
        </tr>
        <tr>
          <td colspan="4" class="text-right"><h3>Total</h3></td>
          <td class="text-right"><h3>{{ cart.total | currency }}</h3></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row" ng-hide="isEmpty || !cannotOrder">
    <div class="col-md-12 col-xs-12">
      <uib-alert>
        The Order button is disabled because there is a minimum total order of $25 for delivery.
      </uib-alert>
    </div>
  </div>
  <div class="row text-right" ng-hide="isEmpty">
    <div class="col-md-12 col-xs-12 text-right">
      <a href="#/order" class="btn btn-primary btn-lg" ng-class="{ disabled: cannotOrder }">
        <span class="fa fa-money"></span> Order Now
      </a>
    </div>
  </div>
</div>