<div class="container">
  <div class="row">
    <h2>
      <!--<a href="#/" class="btn btn-default">
        <span class="fa fa-arrow-left"></span> back
      </a>-->
      {{ category.title }}
    </h2>
    <p>
      <a href="#/">
        <span class="fa fa-arrow-left"></span> back
      </a>
    </p>
  </div>
  <div class="row">
    <div class="col-md-4 col-xs-12" ng-repeat="product in category.products">
      <div class="thumbnail">
        <img src="http://placehold.it/300x200" alt="product{{ product.id }}" />
        <div class="caption">
          <h3>{{ product.title }}</h3>
          <p>{{ product.description }}</p>
          <div class="row">
            <div class="col-md-7 col-xs-7">
              <h4>{{ product.price | currency}} / {{ product.unit }}</h4>
            </div>
            <div class="col-md-5 col-xs-5 text-right">
              <button class="btn btn-primary btn-lg" ng-click="buy(product)">
                <span class="fa fa-cart-plus"></span> Buy
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<toaster-container></toaster-container>