<div class="container-fluid" ng-controller="PromotionController">
  <div class="row">
    <uib-carousel interval="interval">
      <uib-slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{ slide.imageUrl }}" alt="{{ slide.imageUrl }}" style="margin: auto;" />
        <div class="carousel-caption">
          <h4>{{ slide.title }}</h4>
          <p>{{ slide.description }}</p>
        </div>
      </uib-slide>
    </uib-carousel>
  </div>
</div>
<div class="container">
  <div class="row">
    <h2 class="text-center">Categories</h2>
  </div>
  <div ng-if="vm.isLoading">
    <div class="col-md-12 col-xs-12">
      <uib-progressbar class="progress-striped active"></uib-progressbar>
    </div>
  </div>
  <div class="row text-center" ng-if="!vm.isLoading">
    <div class="col-md-3 col-xs-12"
         ng-repeat="category in vm.categories">
      <a ng-href="#/category/{{ category.id }}" ng-show="category.productCount > 0">
        <h4>{{ category.title }} <span class="badge">{{ category.productCount }}</span></h4>
      </a>
      <div ng-show="category.productCount === 0">
        <h4>{{ category.title }} <span class="badge">0</span></h4>
      </div>
    </div>
  </div>
</div>