<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <h2>Order</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <table class="table">
        <thead>
        <tr>
          <th>Product</th>
          <th class="text-center">Quantity</th>
          <th class="text-right">Price</th>
          <th class="text-right">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vm.items">
          <td>{{ item.product.title }}</td>
          <td class="text-center">{{ item.quantity }}</td>
          <td class="text-right">{{ item.product.price | currency }}</td>
          <td class="text-right">{{ (item.quantity * item.product.price) | currency }}</td>
        </tr>
        <tr ng-repeat="surcharge in vm.surcharges">
          <td colspan="2">{{ surcharge.product.title }}</td>
          <td class="text-right">{{ surcharge.product.price | currency }}</td>
          <td class="text-right">{{ (surcharge.quantity * surcharge.product.price) | currency }}</td>
        </tr>
        <tr>
          <td colspan="3" class="text-right"><h3>Total</h3></td>
          <td class="text-right"><h3>{{ vm.total | currency }}</h3></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7 col-xs-12">
      <div class="form-group">
        <label>Full Name <span class="glyphicon glyphicon-asterisk text-danger"></span></label>
        <input type="text" class="form-control input-lg" ng-model="vm.form.fullName" required />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-xs-12">
      <div class="form-group">
        <label>Mobile Number <span class="glyphicon glyphicon-asterisk text-danger"></span></label>
        <input type="text" class="form-control input-lg" ng-model="vm.form.mobileNumber" required />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7 col-xs-12">
      <div class="form-group">
        <label>Email Address <span class="glyphicon glyphicon-asterisk text-danger"></span></label>
        <input type="email" class="form-control input-lg" ng-model="vm.form.emailAddress" required />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7 col-xs-12">
      <div class="form-group">
        <label>Address <span class="glyphicon glyphicon-asterisk text-danger"></span></label>
        <input type="text" class="form-control input-lg" ng-model="vm.form.address" required />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-xs-12">
      <div class="form-group">
        <label>Suburb <span class="glyphicon glyphicon-asterisk text-danger"></span></label>
        <select class="form-control input-lg" ng-model="vm.form.suburb" required>
          <option value="" selected>Select</option>
          <option value="Footscray">Footscray</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row text-right">
    <div class="col-md-12 col-xs-12 text-right">
      <a href="#/" class="btn btn-default btn-lg">Cancel</a>
      <button class="btn btn-primary btn-lg" ng-click="vm.order()">
        <span class="fa fa-ship"></span> Confirm
      </button>
    </div>
  </div>
</div>
<toaster-container></toaster-container>