//- footer.jade

footer
  .container
    .row
      .col-md-3.col-xs-12
        address
          strong
            i.fa.fa-building
            |  Koluki Baitul Ma'mur
          br/
          | 26 Maher Road
          br/
          | Laverton, Victoria 3030
          br/
          | Australia
      .col-md-3.col-xs-12
        h4 FOLLOW US
        p
          i.fa.fa-globe.fa-lg
          |  koluki.imcv.org.au
        p
          i.fa.fa-facebook-official.fa-lg
          |  fb.com/imcvkoluki
        p
          i.fa.fa-twitter.fa-lg
          |  twitter.com/imcvkoluki
      .col-md-3.col-xs-12
        p.text-right
          i.fa.fa-copyright
          |  2016 Koluki